---
import Layout from "../layouts/Layout.astro"
const pageTitle = "Strona o mnie";
const identity = {
    firstName: "Karol",
    lastName: "Drazynski",
    hobby: "pływanie",
    occupation: "Prowadzę projekt DG :)"
}
const skills = ["Zarządzanie projektami", "Tworzenie produktów", "Sprzedaz", "Marketing"];
const happy =   true;
const finished = false;
const goal = 3;
---

<Layout title={pageTitle}>
   <main>
        <a href="/">Wróć do strony głównej</a>
        <a href="/blog">Zobacz nasz blog</a>
        <br>

        <h1>{pageTitle}</h1>

        <h2>Część, jestem {identity.firstName} {identity.lastName}</h2>

        <p>Na codzień {identity.occupation}, w wolnej chwili lubię {identity.hobby}.</p>

        <p>Moje skille to</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        
        {happy && <p>Cieszę się, ze uczę się Astro!</p>}

        {finished && <p>Skońćzyłem juz kurs Astro!</p>}

        {goal === 3 ? <p>Chcę skończyć w przeciągu 3 dni</p> : <p>Moim celem nie są 3 dni</p>}
        

  </main>

</Layout>

<style>
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>