---
import Layout from "../layouts/Layout.astro"
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "Witaj na moim blogu"
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title={pageTitle}>
    <main>
        <Header/>
        <br>
        <h1>{pageTitle}</h1>
        <ul role="list" class="link-card-grid">
            <Card
                href="/"
                title="Wróć na stronę główną"
                body="kliknij, aby wrócić na główną stronę"
            />
            {allPosts.map((post) => 
                <Card
                href={post.url}
                title={post.frontmatter.title}
                body={post.frontmatter.description}
                />    
            )}
        </ul>
    <Footer/>
    <script>
		import '../scripts/menu.js';
  	</script>
    </main>

</Layout>

<style>
    main {
        margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
    }
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
